body {
  margin: 0;
  padding: 0;
}

.main_search {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid lightgray;
}

.main_search input {
  border-radius: 30px;
  border: 1px solid lightgray;
  color: black;
  font-size: 20px;
  padding: 10px;
  font-weight: 300;
}

.main_search input:focus {
  outline: none;
}
