body {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  color: #313131;
}

a {
  text-decoration: none;
  color: inherit;
}

header,
footer {
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 22px;
  padding: 10px 0;
}

.home-latest {
  box-sizing: border-box;
  padding: 0px;
}

.home-latest .item .image_cover {
  position: relative;
  background-size: cover !important;
  height: 200px;
}

.home-latest .item .description {
  position: absolute;
  bottom: 0px;
}

.home-latest .item .description span {
  background: #00bcd4;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}

.home-latest .item .description div {
  padding: 10px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
  background: rgba(53, 53, 53, 0.64);
  width: 50%;
}
