body {
  margin: 0;
  font-family: 'Roboto';
  background: #eaeaea;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner .main_cover {
  background: url('../images/cover.png');
  height: 465px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner .logo {
  font-family: 'Monoton';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  color: #fff;
  font-size: 43px;
  text-align: center;
}

.baneer span {
  display: block;
  height: 20px;
  background: #2196f3;
}
