body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header {
  background-color: teal;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style-type: none;
  display: flex;
}
